#homePanel.panel
	div
		h1 Reinsurance Quotes
		hr
		
		table
			thead
				tr
					td S.No#
					td QuoteID
					td Cedeing Company
					td Recieved date
					td Status
			tbody
				tr
					td 1
					td 
						a(href="google.com") QTE7537454
					td CSAA Insurance Exchange
					td 09/18/2016
					td New QuoteID
					
				tr
					td 2
					td 
						a(href="google.com") QTE8345754
					td MetLife Insurance
					td 09/16/2016
					td Pending quote
					
				tr
					td 3
					td  
						a(href="google.com") QTE0745232
					td Mercury Insurance 
					td 09/17/2016
					td InProgress
					
				tr
					td 4
					td  
						a(href="google.com") QTE8357324
					td Hartford Insurance 
					td 09/10/2016
					td Completed
					
				tr
					td 5
					td  
						a(href="google.com") QTE9334543
					td Farmers Insurance 
					td 09/01/2016
					td Completed
						
